<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <title>
    {% if page.title %} {{ page.title | escape }} {% else %} {{ site.title | escape }} {% endif %}
  </title>

  <script>
    document.documentElement.className += ' wf-loading';
  </script>
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

  <!--
    Site made by
             _     _ _   _
            | |   (_) | | |
   ___  __ _| |__  _| |_| |__  _   _  ___ _ __
  / __|/ _` | '_ \| | __| '_ \| | | |/ _ \ '_ \
  \__ \ (_| | | | | | |_| | | | |_| |  __/ | | |
  |___/\__,_|_| |_|_|\__|_| |_|\__, |\___|_| |_|
                                __/ |
                               |___/
    -->
</head>
