---
---
/**
 *
 * Imports
 *
**/
@import "skeleton";
@import "variables";

/**
 *
 * Main
 *
**/

// Typography
body {
  font-family: $body-font;
  font-size: $font-size;
  line-height: $line-height;
  color: $content-color;
}
@each $heading, $size in $heading-sizes {
  #{$heading} {
    font-family: $heading-font;
    font-size: $size;
  }
}

a {
  color: $active-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color;
}

.dropcap {
  color: $primary-color;
  margin-right: 0.05em;
}

h1, p, a, .content-info {
  visibility: hidden;
}

.wf-active,
.wf-inactive {
  h1, p, a, .content-info {
    visibility: visible;
  }
}

/* General */
$top-bar-height: $top-bar-padding-top + ($font-size * $line-height) + $top-bar-padding-bottom + $top-bar-border-size;

body {
  padding-top: $top-bar-height + $top-bar-margin-bottom;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.container {
  max-width: $container-width;
  padding-bottom: 90px;
}

/* Top bar */

.top-bar {
  font-family: $active-font;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $top-bar-color;
  z-index: 1000;

  .item {
    margin-left: $top-bar-item-margin;
  }

  .item:first-child {
    margin-left: 0;
  }
}

.top-bar-inner {
  padding: $top-bar-padding-top $top-bar-padding-sides $top-bar-padding-bottom;
  margin: 0 $top-bar-margin-sides;
  border-bottom: $top-bar-border-size solid $top-bar-border-color;
}

/* Articles */

.content-wrapper {
  position: relative;
}

.content-info .category {
  font-weight: bold;
}
@media screen and (min-width: $content-info-left-min-size) {
  .content-info {
    display: inline-block;
    position: absolute;
    left: -($content-info-width + $content-info-margin);
    width: $content-info-width;
    text-align: right;
  }
}

.content-hero-image {
  margin-bottom: 1em;
}

/* Archive */

.archive-entry-wrapper {
  position: relative;
  min-height: 2 * $font-size * $line-height;
  margin-bottom: 25px;
}

.archive-info .category {
  font-weight: bold;
}
@media screen and (min-width: $content-info-left-min-size) {
  .archive-info {
    display: inline-block;
    position: absolute;
    left: -($content-info-width + $content-info-margin);
    width: $content-info-width;
    text-align: right;
  }
}

/* Footer */

footer {
  font-family: $active-font;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-bar {
  background-color: $footer-bar-color;

  .item {
    margin-left: $footer-bar-item-margin;
  }

  .item:first-child {
    margin-left: 0;
  }
}

.footer-bar-inner {
  margin: 0 $footer-bar-margin-sides;
  padding: $footer-bar-padding-top $footer-bar-padding-sides $footer-bar-padding-bottom;
  border-top: $footer-bar-border-size solid $footer-bar-border-color;
}
