---
layout: default
---

{% for post in site.posts %}
<article>
  <div class="content-title">
    <h1>{{ post.title }}</h1>
  </div>

  {% if post.hero_image %}
  <div class="content-hero-image">
    {% include image.html url=post.hero_image %}
  </div>
  {% endif %}

  <div class="content-wrapper">
    <div class="content-info">
      <div class="date">
        {{ post.german_date }}
      </div>
      <div class="category">
        {{ post.categories }}
      </div>
    </div>

    <div class="content">
      {{ post.excerpt }}
    </div>

    <a href="{{ post.url }}">Weiterlesen...</a>
  </div>

  <hr>
</article>
{% endfor %}
